---
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

changeLanguage("fr");

setDefaultNamespace("work");
const currentLanguage = i18next.language;
const collection = (currentLanguage === "en") ? "worken" : "workfr";
const projects = (await getCollection(collection)).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
	title={t("seo.title")}
	description={t("seo.desc")}
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={t("hero.title")}
				tagline={t("hero.tagline")}
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
