---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import { t, changeLanguage, setDefaultNamespace } from "i18next";

changeLanguage("en");

setDefaultNamespace("about");
---

<BaseLayout title={t("seo.title")} description={t("hero.desc")}>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title={t("hero.title")}
				tagline={t("hero.tagline")}
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Loris Alexandre"
				/>
			</Hero>

			<section>
				<h2 class="section-title">{t("background.title")}</h2>
				<div class="content">
					<p>
						{t("background.section_one")}
					</p>
					<p>
						{t("background.section_two")}
					</p>
					<p>
						{t("background.section_three")}
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">{t("education.title")}</h2>
				<div class="content">
					<p>{t("education.section_one")}</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">{t("skills.title")}</h2>
				<div class="content">
					<p>{t("skills.section_one")}</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
